
select{
	font-size: 40px;
	line-height: 1.1em;
	border-radius: 5px;
	border: none;
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	background-color: #bddfff;
    box-shadow    : 3px 3px 2px #666666;
}
#start, #stop{
    margin-top: 5px;
     
    color:white;
    background-color: #eb6100; 
}
#start:hover, #stop:hover{
    color:white;
    background-color: #eb6a00;
}
#add, #reload, #download_button{
    color:black;
    background-color: #bddfff;
}
#reload, #download_button{
    margin-top: 5px;
}
#clock{
   font-size: 80px;
   font-family: 'impact', fantasy;
}
#shudo{
    font-family: 'impact', fantasy;
    padding: 12px 12px;
    font-size: 18pt;
    border: 2px solid #666666;
    box-shadow: 3px 3px 2px #666666;
    line-height: 0em;
    background-color: #bddfff;
}
#csv-table{
    margin-top: 5px;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#csv-table th{
    background: #ffc7af;
    border:solid 1px #778ca3;
    text-align: center;
}
#csv-table td{
    background: #ffdbc9;
    border:solid 1px #778ca3;
    text-align: end;
}
#start, #stop, #reload, #add, #download_button{
    font-family: monospace;
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 2px #666666;  /* 影の設定 */
    border        : 2px solid #666666;    /* 枠の指定 */
}
#start:hover, #stop:hover, #reload:hover, #add:hover, #download_button:hover{
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
}
footer{
    width:100%;
    text-align: right;
    padding: 30px 0;
    bottom:0;
}
